html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

:root {
  --tooltip-bg: #02c2a5de;
  --dark: #000;
  --light: #fff;
}

/* Layout con GRID */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 3rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #203040;
  z-index: 99;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: #203040;
  color: #e0dbdb;
}

/*NavBar Header (barra de menus) */

header a {
  color: #ffffff;
  padding: 0 1.2rem;
}

a:hover,
.fa-cart-arrow-down:hover,
.fa-user:hover,
.fa-user-shield:hover,
.fa-envelope:hover {
  color: rgb(173, 85, 22);
}

.logo {
  height: 40px;
  margin-left: 15px;
  pointer-events: all;
  cursor: pointer;
}

a.brand {
  color: rgb(63, 231, 231);
  font-size: 3rem;
  font-weight: bold;
}

.badge {
  position: relative;
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  left: 0.5rem;
  bottom: 0.5rem;
}

/* COMMONS */
h1 {
  font-size: 3rem;
  color: #203040;
}
h2 {
  font-size: 2rem;
  color: #203040;
}

h1.clean,
h2.clean {
  margin: 10px 5px 5px 5px;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

a h2:hover {
  color: blue;
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul h2,
ul h1 {
  margin: 10px 0;
}

li {
  margin-top: 0.7rem;
}

li p {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  display: inline-block;
  padding-right: 10px;
  color: #293d52;
  line-height: 15px;
}

li p span {
  display: inline-block;
}

input,
textarea,
button {
  outline: none;
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #afb4b3 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  font-weight: bold;
}

input[type='radio'] {
  margin: 5px;
}

button.primary {
  margin-top: 25px;
  background-color: #4db6ac;
}

button.admin {
  margin: 5px 0;
  background-color: chocolate;
  width: 100%;
}

button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}

button.no-margins {
  margin-top: 0;
  background-color: #4db6ac;
}

input:hover,
select:hover,
textarea:hover {
  border: 0.1rem teal solid;
}

button:hover {
  background-color: rgb(65, 236, 236);
}

/* FIN DE  COMMONS */

/*clase row: coloca los item uno al lado del otro en una misma linea como en el header */
/*Flex-wrap hace a la linea responsive. Si no hay suficiente espacio pasa items a la linea siguiente */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.left {
  justify-content: flex-start;
}

.row.left > h2 {
  width: 100%;
  text-align: center;
}

.row.gapper {
  column-gap: 2rem;
  row-gap: 3rem;
}

.row.top {
  align-items: flex-start;
}

.row.shadow {
  background-color: #dfdddd;
  padding: 0px 15px 0px 0px;
  box-shadow: 5px 4px 13px 0px rgba(73, 69, 69, 0.66);
}

.col-1 {
  flex: 1 1 29rem;
  padding: 25px;
}

.col-2 {
  flex: 2 1 15rem;
  padding: 25px;
}

.col1-place-order {
  flex: 1 1 15rem;
  padding: 10px;
}

.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
  font-size: 20px;
}

.min-30 p {
  font-size: 20px;
}

.p-1 {
  padding: 1rem;
}

.hide {
  display: none !important;
}

/* IMAGES */
img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 26rem;
}

img.large {
  max-width: 25rem;
  width: 100%;
  border: 1px solid grey;
  box-shadow: 5px 4px 15px 0px rgba(54, 52, 52, 0.66);
}

img.small {
  max-width: 10rem;
  width: 100%;
  padding: 5px;
}

img.tiny-image {
  width: 110px;
  height: 100px;

  padding: 2px;
  object-fit: cover;
}

#div-tiny-image {
  gap: 10px;
  justify-content: center;
  background-color: #0c8688;
  border-radius: 5px;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  min-height: 350px;
}

.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(231, 227, 227);
  font-size: 2rem;
  padding: 1rem;
}

.card.resumen {
  padding: 25px;
  min-height: 265px;
  box-shadow: 5px 4px 15px 0px rgba(54, 52, 52, 0.66);
}

/* Font-awesome icons */
i {
  margin-left: 0 !important;
}

.fa-cart-arrow-down,
.fa-user,
.fa-user-shield,
.fa-envelope {
  font-size: 30px;
  color: #4db6ac;
}

.fa-trash-alt {
  font-size: 25px;
  color: rgb(184, 20, 20);
  pointer-events: all;
  cursor: pointer;
}

.fa-exclamation-triangle {
  margin-right: 5px;
}

/* Alert */
.loading {
  margin: 1rem;
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 0.5rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
  max-width: max-content;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #7a0808;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* search en HomeScreen*/

.search-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.search-div > .search-input {
  border-radius: 15px;
  border: 2px solid teal;
  position: relative;
  padding: 5px 30px 5px 10px;
  font-size: 1.8rem;
  width: 220px;
  outline: none;
}

.search-div .fa-search {
  cursor: pointer;
  pointer-events: all;
  position: relative;
  left: -60px;
  top: 0px;
  padding: 5px;
  color: #0f3959;
  font-size: 20px;
}

.fa-search:hover {
  color: rgb(173, 85, 22);
}

.search-input::placeholder {
  color: rgb(168, 166, 166);
  font-size: 1.5rem;
}

/* Form */

::placeholder {
  font-size: 12px;
  color: #7a0808;
}

.form {
  max-width: 40rem;
  margin: 20px auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

#form-producto {
  max-width: 30rem;
  margin: 15px 5px 10px 10px;
}

.form.registro,
.form.profile {
  margin: 0 auto;
}

.form.shipping button,
.form.registro button,
.form.profile button {
  margin-top: 5px;
}

.form.payment {
  margin-top: 100px;
}

.form h1,
.form h2,
#tiny-stock-app h2 {
  text-align: center;
  margin: 10px 0;
}

.form > div.alert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form label {
  color: rgb(5, 78, 78);
  font-weight: bold;
}

.form input:hover {
  border-color: #4db6ac;
}

.usuario-vendedor-title {
  margin-top: 20px;
}

.form.producto > div {
  margin: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form.producto > div > input {
  min-width: 200px;
  font-size: 14px;
  padding: 0.3rem;
  outline: none;
}

.form.producto > div > label {
  font-size: 12px;
  padding-right: 10px;
}

.form.producto button {
  margin-top: 10px;
}

.form.contacto button {
  margin-top: 0px;
}

.div-producto {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-content {
  position: absolute;
  display: none;
  min-width: 13rem;
  z-index: 1;
  background-color: #4db6ac;
  margin: 0;
  padding-bottom: 10px;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  font-weight: bold;
  font-size: 1rem;
  padding-left: 8.5rem;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

.badge.steps {
  top: 3px;
  left: -3px;
  bottom: 0;
  background-color: #4db6ac;
}

/* PlaceOrder Screen */

.div-info-user {
  border: 1px solid green;
  border-radius: 10px;
  line-height: 18px;
  padding: 10px;
  margin-top: 15px;
  max-width: max-content;
}

.div-info-user > p {
  margin-bottom: 5px;
  margin-top: 5px;
}

/* Order Screen */

.order-status {
  display: flex;
  justify-content: flex-start;
  gap: 0.6rem;
  margin-top: 5px;
  align-items: center;
  height: 25px;
}

#fechaTransfer,
#selectBancos,
#referencia,
#efectivo-cash {
  padding: 0.2rem;
  margin: 3px;
  width: 225px;
  text-align: right;
  outline: none;
}

#fechaTransfer:hover,
#selectBancos:hover,
#referencia:hover,
#efectivo-cash:hover {
  border-color: #20a020;
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tbody tr:nth-of-type(odd) {
  background-color: #dfdbdb;
}

.table td,
.table th {
  text-align: center;
  border: 0.1rem solid #e4e4e4;
  padding: 0.1rem;
  font-size: 1.2rem;
  padding: 0px 10px;
}

.table thead {
  background-color: rgb(223, 148, 10);
  font-size: 14px;
  height: 30px;
}

.table button {
  margin: 0.5rem;
  background-color: #00d1b2;
}

/*  Tabla list-products */
#product-list-table tbody tr td:nth-child(8) {
  width: 150px;
}

/*  FIN de Tabla Mis Pedidos */

#th-tallas,
#th-colores {
  background-color: chocolate;
  border-radius: 5px;
  height: 25px;
}

/*Dashboard Sidebar */

.dashboard {
  display: flex;
  height: 100%;
  background: url('./dashboard-bg.png') no-repeat top center;
  background-size: cover;
}

#admin-icon {
  display: none;
}

.sidebar {
  color: whitesmoke;
  background-color: black;
  width: 180px;
  height: 100%;
  position: sticky;
}

.sidebar__header {
  text-align: center;
  color: #20a020;
  font-size: 2rem;
  font-weight: 800;
}

.sidebar__header p {
  margin: 0;
}

hr {
  border: 1px solid gray;
}

.sidebar .fas {
  font-size: 25px;
  padding: 10px 0px 10px 10px;
  color: rgb(97, 95, 95);
  min-width: 50px;
  margin: 0;
}

.sidebar > .sidebar__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar > .sidebar__menu > hr {
  margin: 2rem 0 2rem 0;
}

.sidebar > .sidebar__menu > a {
  display: flex;
  align-items: center;
  color: #c0c0c0;
  padding: 0.5rem;
  font-size: 1.6rem;
}

.sidebar > .sidebar__menu a:hover {
  opacity: 0.9;
  background-color: #f0c14b;
  color: black;
}

i {
  margin-left: 1rem;
}

.config-div {
  margin-left: 20rem;
  background-color: rgb(223, 217, 217);
}

.div-center {
  text-align: center;
}

.div-link > a {
  margin-left: 1rem;
  color: #0c8688;
  font-weight: bold;
}

/*LISTADOS LIST-SCREENS   */

.btn-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 5px;
  border-color: #30706a;
  margin-left: 10px;
}

.fa-search {
  font-size: 20px;
  margin: 0;
  color: blue;
}

.fa-trash {
  font-size: 20px;
  margin: 0;
  color: red;
}

.fa-pencil-alt {
  font-size: 20px;
  margin: 0;
  color: black;
}

.fa-cash-register {
  font-size: 20px;
  margin: 0;
  color: #0c8688;
}

/* Pagination */
.pagination a {
  padding: 0.8rem;
  margin: 0.4rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  background-color: #4db6ac;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}

.row.center.pagination {
  margin-top: 2rem;
}

.pagination a:hover {
  color: red;
}

/* Tool-tip component styles */

.tooltip {
  position: absolute;
  padding: 10px;
  background-color: var(--tooltip-bg);
  color: var(--light);
  min-width: 100px;
  border-radius: 5px;
  opacity: 0;
  transition-property: opacity, transform;
  transform-origin: center center;
  text-align: center;
  z-index: 999;
}

.tooltip--top {
  transform: translate(-50%, -15px) scale(0);
}
.tooltip--bottom {
  transform: translate(-50%, 15px) scale(0);
}
.tooltip--left {
  transform: translate(-15px, -50%) scale(0);
}
.tooltip--right {
  transform: translate(15px, -50%) scale(0);
}
.tooltip--top-left {
  transform: translate(0, -15px) scale(0);
}
.tooltip--top-right {
  transform: translate(-100%, -15px) scale(0);
}
.tooltip--bottom-left {
  transform: translate(0, 15px) scale(0);
}
.tooltip--bottom-right {
  transform: translate(-100%, 15px) scale(0);
}
.tooltip--left-top {
  transform: translate(-15px, 0) scale(0);
}
.tooltip--left-bottom {
  transform: translate(-15px, -100%) scale(0);
}
.tooltip--right-top {
  transform: translate(15px, 0) scale(0);
}
.tooltip--right-bottom {
  transform: translate(15px, -100%) scale(0);
}

.tooltip::after {
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(255, 0, 0, 0);
  border-width: 6px;
}

.tooltip--top::after {
  top: 100%;
  left: 50%;
  border-top-color: var(--tooltip-bg);
  margin-left: -6px;
}
.tooltip--bottom::after {
  bottom: 100%;
  left: 50%;
  border-bottom-color: var(--tooltip-bg);
  margin-left: -6px;
}
.tooltip--left::after {
  top: 50%;
  left: 100%;
  border-left-color: var(--tooltip-bg);
  margin-top: -6px;
}
.tooltip--right::after {
  top: 50%;
  right: 100%;
  border-right-color: var(--tooltip-bg);
  margin-top: -6px;
}
.tooltip--top-left::after {
  top: 100%;
  left: 0%;
  border-top-color: var(--tooltip-bg);
  margin-left: 10px;
}
.tooltip--top-right::after {
  top: 100%;
  right: 0%;
  border-top-color: var(--tooltip-bg);
  margin-right: 10px;
}
.tooltip--bottom-left::after {
  bottom: 100%;
  left: 0%;
  border-bottom-color: var(--tooltip-bg);
  margin-left: 10px;
}
.tooltip--bottom-right::after {
  bottom: 100%;
  right: 0%;
  border-bottom-color: var(--tooltip-bg);
  margin-right: 10px;
}
.tooltip--left-top::after {
  top: 10px;
  left: 100%;
  border-left-color: var(--tooltip-bg);
}
.tooltip--left-bottom::after {
  bottom: 10px;
  left: 100%;
  border-left-color: var(--tooltip-bg);
}
.tooltip--right-top::after {
  top: 10px;
  right: 100%;
  border-right-color: var(--tooltip-bg);
}
.tooltip--right-bottom::after {
  bottom: 10px;
  right: 100%;
  border-right-color: var(--tooltip-bg);
}

/*FIN DE: Tool-tip component styles -------------------------*/

/* Seccion Contacto y About Us (merged)  ********************************/
.form.contacto {
  margin: 30px 40px;
}

.form-title,
.title {
  text-align: center;
}

.contacto-container {
  display: flex;
}

/*abou-us*/
.content-section {
  max-width: 50rem;
  margin: 30px 40px;
}

.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}

.content-section .content p,
.content-section .content h3 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}
.content-section .content .button {
  margin-top: 30px;
}

.content-section .content .button a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
  background-color: #a52a2a;
  color: #fff;
}

.content-section .social {
  margin: 30px 30px 0px 30px;
}

.content-section .social i {
  color: #a52a2a;
  font-size: 30px;
  padding: 0px 10px;
}

.content-section .social i:hover {
  color: #3d3d3d;
}
/* FIN DE Seccion Contacto y About Us (merged)  ********************************/

/* media query */

@media (max-width: 575px) {
  .logo {
    margin-left: 0;
  }

  a.brand {
    display: none;
  }

  .search-div > h1 {
    display: none;
  }

  .search-div {
    margin: 15px 0;
    justify-content: flex-end;
    gap: 2.1rem;
  }

  .div-rrss {
    width: 360px;
  }
  .redes-container {
    flex-direction: row;
  }

  .col-2 {
    padding: 10px;
  }

  .col-2.cart {
    padding: 10px;
  }

  .cart-subtotal {
    font-size: 1.7rem;
  }

  .min-30 {
    max-width: 7rem;
    min-width: auto;
    font-size: 12px;
  }
  img.small {
    max-width: 8rem;
    width: 100%;
  }

  select {
    width: 55px;
    text-align: left;
  }

  .row.shadow {
    justify-content: space-between;
  }

  .media {
    font-size: 8px;
  }

  .checkout-steps {
    display: none;
  }

  .qty-price p {
    font-size: 12px;
  }

  .min-30 p {
    font-size: 12px;
    margin: 0;
  }

  /*Table responsive media queries   */

  .table-container__table--break-sm thead {
    display: none;
  }
  .table-container__table--break-sm tr {
    display: block;
    width: 230px;
    margin: 10px;
  }
  .table-container__table--break-sm td {
    display: block;
    position: relative;
    padding-left: 100px;
    text-align: left;
    border-bottom: 0;
    font-size: 1.5rem;
  }
  .table-container__table--break-sm td:last-child {
    border-bottom: 1px solid #ddd;
  }
  .table-container__table--break-sm td::before {
    content: attr(data-heading);
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #000;
    color: #fff;
    font-size: 1rem;
    padding: 0 5px;
    justify-content: left;
  }

  .sidebar {
    width: 80px;
  }

  .sidebar__menu_texto {
    display: none;
  }

  #admin-title {
    display: none;
  }

  #admin-icon {
    display: block;
    color: green;
    font-size: 30px;
  }

  .div-producto {
    display: block;
  }

  .contacto-container {
    flex-direction: column;
  }

  .redes-container {
    margin-top: 10px;
  }
  .div-rrss {
    margin-left: 50px;
  }

  .form.contacto {
    margin-top: 60px;
  }

  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 50px;
  }

  .content-section .title {
    text-align: center;
    font-size: 19px;
  }

  .content-section .content .button {
    text-align: center;
  }

  .content-section .content .button a {
    padding: 9px 30px;
  }

  .content-section .social {
    text-align: center;
  }

  .content-section .social {
    margin: 40px;
  }

  #fechaTransfer,
  #selectBancos,
  #referencia,
  #efectivo-cash {
    width: 200px;
  }
}
